<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/contratacionesabiertas/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/contratacionesabiertas/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/contratacionesabiertas/static/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/main.css' />
    <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/style_d3bubble.css' />
    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" href="/contratacionesabiertas/static/stylesheets/dashboard.css">
    <link rel="import" href="/contratacionesabiertas/static/bower_components/polymer/polymer.html">
    <link rel="import" href="/contratacionesabiertas/static/bower_components/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/contratacionesabiertas/static/bower_components/dgm-footer/dgm-footer.html">

    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/tooltipster/dist/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/tooltipster-follower/dist/css/tooltipster-follower.min.css" />

    <title>contratacionesabiertas.mx</title>
</head>

<body>
    <dgm-navbar></dgm-navbar>
    <div id="breadcrumb" class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="http://contratacionesabiertas.mx"><i class="glyphicon glyphicon-home"></i></a></li>
                        <li><a href="/acerca" style="text-transform: none;">Acerca</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 post">
                <div ng-bind-html="content" class="content ng-binding">
                    <h1>Acerca de contratacionesabiertas.mx</h1>
                    <p>En este sitio podr&aacute;s visualizar y descargar los&nbsp;<a href="http://www.dof.gob.mx/nota_detalle.php?codigo=5382838&amp;fecha=20/02/2015" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.dof.gob.mx/nota_detalle.php?codigo%3D5382838%26fecha%3D20/02/2015&amp;source=gmail&amp;ust=1488838370517000&amp;usg=AFQjCNHmL0H_U5YoAEfirOmtUVcKKkYVYg">Datos Abiertos</a>&nbsp;relativos
                        a los procesos de adquisici&oacute;n del Nuevo Aeropuerto Internacional de la Ciudad de M&eacute;xico (NAICM), publicados gradualmente seg&uacute;n lo establecido por el&nbsp;<a href="http://www.open-contracting.org/data-standard/?lang=es"
                            target="_blank" data-saferedirecturl="http://www.open-contracting.org/data-standard/?lang=es">Est&aacute;ndar de Datos para las Contrataciones Abiertas (EDCA)</a>.&nbsp;&nbsp;</p>
                    <p>La publicaci&oacute;n de estos datos es un proceso continuo y realizado por el Grupo Aeroportuario de la Ciudad de M&eacute;xico (GACM), que comprender&aacute; licitaciones p&uacute;blicas, invitaciones a cuando menos tres personas,
                        adjudicaciones directas y convenios de colaboraci&oacute;n con otras dependencias y entidades de la Administraci&oacute;n P&uacute;blica Federal.&nbsp;</p>
                    <p>El GACM actualizar&aacute; y publicar&aacute; los datos de los procedimientos de contrataci&oacute;n, incluyendo datos relativos a la implementaci&oacute;n; y publicar&aacute; datos complementarios al est&aacute;ndar para brindar mayor
                        contexto sobre el avance de las contrataciones, como los reportes trimestrales de avances&nbsp;f&iacute;sicos y financieros que GACM entrega a la Secretar&iacute;a de la Funci&oacute;n P&uacute;blica, de acuerdo a lo establecido
                        en la Ley Federal de Presupuesto y Responsabilidad Hacendaria y en la Ley de Obras P&uacute;blicas y Servicios Relacionados con las Mismas.&nbsp;</p>
                    <p>La publicaci&oacute;n de estos datos se hace de acuerdo a lo establecido por el <a href="http://www.dof.gob.mx/nota_detalle.php?codigo=5382838&amp;fecha=20/02/2015" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.dof.gob.mx/nota_detalle.php?codigo%3D5382838%26fecha%3D20/02/2015&amp;source=gmail&amp;ust=1488838370517000&amp;usg=AFQjCNHmL0H_U5YoAEfirOmtUVcKKkYVYg">Decreto por el que se establece la Regulaci&oacute;n en Materia de Datos Abiertos</a>,
                        y es independiente de otras obligaciones del GACM, bajo la Ley de Obras P&uacute;blicas y Servicios Relacionados con las Mismas y la Ley de Adquisiciones, Arrendamientos y Servicios del Sector P&uacute;blico; de publicar en CompraNet
                        los documentos relacionados a los procedimientos de invitaci&oacute;n a cuando menos tres personas y licitaciones p&uacute;blicas; y, de publicar los principales datos del contrato en el Portal de Obligaciones de Transparencia
                        del Instituto Nacional de Transparencia, Acceso a la Informaci&oacute;n y Protecci&oacute;n de Datos.(INAI), bajo la Ley Federal de Transparencia y Acceso a la Informaci&oacute;n P&uacute;blica Gubernamental, que en el mes de mayo
                        pr&oacute;ximo se har&aacute; en la Plataforma Nacional de Transparencia.&nbsp;Esta informaci&oacute;n est&aacute; disponible en&nbsp;p&aacute;gina de&nbsp;GACM -es del GACM o del NAICM?-&nbsp;(<a href="http://aeropuerto.gob.mx/"
                            target="_blank" data-saferedirecturl="http://aeropuerto.gob.mx/">aeropuerto.gob.mx</a>).&nbsp;</p><br><br>
                </div>
            </div>
        </div>
    </div>


    <dgm-footer></dgm-footer>
    <script src="/contratacionesabiertas/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/contratacionesabiertas/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/contratacionesabiertas/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</body>

</html>
