/* google charts */
div.google-visualization-tooltip > ul > li > span {
    font-size: 8pt !important;
    /*line-height: 1.2em;*/
    font-family: "Open Sans" !important;
}

div.google-visualization-tooltip {
    background: white;
    /*background: #f6f6f6;*/
    font-size: 10px !important;
    /*line-height: 1.2em;*/
    line-height: normal;
    border: none;
    box-shadow: none;
    width: 250px;
}

.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    z-index: 2;
    /*background: #f6f6f6 !IMPORTANT;*/
    background: white;
    font-color: black !IMPORTANT;
    border-radius: 2px;
    font-family: "Open Sans" !important;
    border: white !IMPORTANT;
}

.jqplot-table-legend {
    width: auto;
    border-color: transparent !important;
    background: transparent !important;
    padding: 5px;
}

.well{
    border: none;
}
.panel{
    border: none;
}
.navbar{
    border: none;
}
/* d3 charts */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    /*display: none;*/
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.pill-container{
    margin-top:20px;
}

.all-container{
    max-width: 1070px;
}

.bgimg                          { margin-bottom: 0; height: 350px; background-image: url('/contratacionesabiertas/static/images/bg-contracts.png'); background-size: cover; }
.bgimg h2                       { margin-bottom: 30px; }
.bgimg h2 > span                { display: block; font-weight: 400; }

.controls                       { margin-bottom: 30px; padding: 20px 0 25px; background-color: #545454; }
.controls h3                    { margin-top: 0; margin-bottom: 20px; font-size: 14px; font-weight: 300; text-align: center; color: #fff; text-transform: uppercase; }
.controls .nav                  { width: 420px; margin: 0 auto; padding: 0; }

.statistics .well               { margin-bottom: 50px; }
.statistics .small              { margin-bottom: 30px; }

.contract-item                  { background-color: #f6f6f6; margin-bottom: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: relative; }
.contract-item .contract-info   { width: 90%; float: left; }
.contract-item .inner           { padding: 10px 15px; }
.contract-item .item-footer     { background-color: #e3e3e3; -webkit-border-radius: 0 0 0 5px; -moz-border-radius: 0 0 0 5px; border-radius: 0 0 0 5px; }
.contract-item h3               { font-weight: 700; color: #545454; font-size: 22px;}
.contract-item h4 > a           { font-size: 14px; font-weight: 600; color: #0c9/*#545454*/; }
.contract-item h4 > a:hover     { font-size: 14px; font-weight: 600; color: #096/*#545454*/; }
.contract-item p                { margin-bottom: 0; }
.contract-item .legend          { font-size: 12px; font-weight: 600; color: #333; }
.contract-item .stages-icons    { margin: 0; padding: 0; list-style: none; }
.contract-item .stages-icons > li               { display: inline-block; margin-right: 5px; }
.contract-item .stages-icons > li:last-child    { margin-right: 0; }
.contract-item .stages-icons > li > img         { width: 20px; }
.contract-item .contract-download               { width: 10%; float: right; background-color: #c0c0c0; position: absolute; right: 15px; top: 0; bottom: 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }
.contract-item .contract-download > p           { margin-top: 20px; margin-bottom: 20px; font-family: "Open Sans"; font-size: 13px; color: #7a7a7a; text-align: center; text-transform: uppercase; }
.contract-item .contract-download > div         { text-align: center; }

/********************************
    Badges Styles
********************************/
.dataset-format                             { font-size: 12px; font-weight: 700; color: #fff; text-transform: uppercase; border-radius: 0; padding: 5px 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.dataset-format[data-format="csv"],
.dataset-format[data-format="CSV"]          { background-color: #ffd100; }
.dataset-format[data-format="kml"],
.dataset-format[data-format="KML"]          { background-color: #474747; }
.dataset-format[data-format="geojson"],
.dataset-format[data-format="GEOJSON"],
.dataset-format[data-format="json"],
.dataset-format[data-format="JSON"]         { background-color: #33ffd1; }
.dataset-format[data-format="pdf"],
.dataset-format[data-format="PDF"]          { background-color: #ff2200; }
.dataset-format[data-format="arcgis"],
.dataset-format[data-format="ARCGIS"]       { background-color: #d100FF; }
.dataset-format[data-format="xlsx"],
.dataset-format[data-format="xls"],
.dataset-format[data-format="excel"],
.dataset-format[data-format="vnd.ms-excel"],
.dataset-format[data-format="EXCEL"],
.dataset-format[data-format="VND.MS-EXCEL"],
.dataset-format[data-format="XLS"],
.dataset-format[data-format="XLSX"]         { background-color: #00d100; }
.dataset-format[data-format="xml"],
.dataset-format[data-format="XML"]          { background-color: #0000d1; }
.dataset-format[data-format="oracle"],
.dataset-format[data-format="ORACLE"]       { background-color: #55bada; }
.dataset-format[data-format="shp"],
.dataset-format[data-format="SHP"]          { background-color: #bada55; }
.dataset-format[data-format="kmz"],
.dataset-format[data-format="KMZ"]          { background-color: #55adab; }
.dataset-format[data-format="zip"],
.dataset-format[data-format="ZIP"]          { background-color: #669999; }

.search-form > .form-control.bootstrap-select                           { display: inline-block; width: 17%; box-shadow: none; }
.search-form > .form-control.bootstrap-select > .btn                    { border: none; text-align: center; text-transform: none; color: #9b9b9b; position: relative; left: 50%; transform: translateX(-50%); background-color: #fff; line-height: 20px; }
.search-form > .form-control.bootstrap-select > .btn > .bs-caret        { display: inline-block; width: 12px; height: 8px; /*background-image: url("../assets/img/ic_arrow_down.png");*/ }
.search-form > .form-control.bootstrap-select > .btn > .bs-caret .caret { display: compact; }
.search-form > .form-control.bootstrap-select > .btn:hover,
.search-form > .form-control.bootstrap-select.open > .btn,
.search-form > .form-control.bootstrap-select.open > .btn:hover         { background-color: transparent; box-shadow: none; color: #9b9b9b; }
.search-form > .form-control.bootstrap-select > .btn:focus              { background-color: transparent; outline: none; }
.search-form > .form-control.bootstrap-select.open .dropdown-menu       { margin: 0 auto; }
.search-form > .form-control.bootstrap-select .dropdown-menu            { background-color: #f6f6f6; border-radius: 0 0 5px 5px; border: none; }
.search-form > .form-control.bootstrap-select .dropdown-menu.open .dropdown-menu li > a > span             { color: #9b9b9b; }
.search-form > .form-control.bootstrap-select .dropdown-menu.open .dropdown-menu li.selected,
.search-form > .form-control.bootstrap-select .dropdown-menu.open .dropdown-menu li:hover,
.search-form > .form-control.bootstrap-select .dropdown-menu.open .dropdown-menu li.selected > a,
.search-form > .form-control.bootstrap-select .dropdown-menu.open .dropdown-menu li:hover > a              { background-color: #0c9; }
.search-form > .form-control.bootstrap-select .dropdown-menu.open .dropdown-menu li.selected > a > span,
.search-form > .form-control.bootstrap-select .dropdown-menu.open .dropdown-menu li:hover > a > span       { color: #fff; }


.statistics ul.chart-legend > li{
    font-size: 14px;
}

@media only screen
and (min-device-width: 300px)
and (max-device-width: 736px){
    .bgimg { height: 250px; }
    .bgimg h2 { font-size: 20px; margin-bottom: 10px}
    .bgimg h4 { font-size: 12px;}
    .bgimg .stat { font-size: 16px }
    .bgimg {background-size: 500px 250px}
    #datos_duros{
        display: none;
    }
    #contrataciones_tiempo{ display: none;}
    #proveedores{display: none;}
    #busqueda_contratos{ display: none;}
    #breadcrumb{ display: none;}

    .statistics ul.chart-legend > li{
     font-size: 14px;
    }

    .statistics h1 {font-size: 16px;}
    .statistics p { font-size: 14px;}

    .stages .stages-widget p {font-size: 14px}
    .stages .stages-widget .content { font-size: 14px; padding-bottom: 25px}

    .stages .stages-widget img {width: 25px}
    .stages h1 {font-size: 16px}

}

@media (max-width: 768px) {
    #tablaChartDonut { padding-bottom: 0px }
}

@media (min-width: 768px) {
    .nav-pills {
    margin-left: 0px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 768px) {
    .guide h2, h3 {
        font-size: 16px;
    }
}

#chart4
{
   font-family: "Open Sans" !important;
}

/* Fix gráfica base */
/* HADER */
.bgimg p {
    color: #fff;
}

.bgimg .stat {
    font-size: 36px;
}

.bgimg {
    height: 350px;
    /*margin-bottom: 30px;*/
    padding: 50px 0;
    background: #424242;
    background-size: 1024px 270px;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    /*margin-bottom: 0;*/
    /*height: 350px;*/
    background-image: url(/contratacionesabiertas/static/images/bg-contracts.png);
    background-size: cover;
}

.bgimg h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 42px;
    color: #fff;
}

.bgimg .stat                                { font-size: 36px; }

.bgimg h5 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.guide h4, h5 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.label {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
}

.statistics ul.chart-legend                 { padding: 30px 0 0; list-style: none; padding-top: 10px }
.statistics ul.chart-legend > li            { margin-bottom: 10px; font-size: 14px; font-weight: 300; color: #000; }

.search-form {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form input[type="text"] {
    width: 60%;
    border-right: 1px solid #ccc;
}

/*.search-form .btn-primary, .search-form .btn-primary:hover {
    width: 4%;
    background-color: transparent;
    color: #9b9b9b;
    font-size: 14px;
    padding: 12.5px 0;
}*/
/*#btnBuscaContrato .search-form .btn-primary, .search-form .btn-primary:hover {
    width: 4%;
    background-color: transparent;
    color: #9b9b9b;
    font-size: 14px;
    padding: 12.5px 0;
}*/

.search-form .btn-primary {
    background-color: #4a4a4a;
    border-color: transparent;
}
.search-form .btn {
    display: inline-block;
    width: auto;
    border-radius: 0 4px 4px 0;
}
.search-form .btn {
    display: inline-block;
    width: auto;
    border-radius: 0 4px 4px 0;
}
.search-form .form-control {
    margin: 0;
    height: 45px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.statistics ul > li > .circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    top: 2.5px;
}

.statistics ul.chart-legend {
    padding: 30px 0 0;
    list-style: none;
    padding-top: 10px;
}

ul, ol {
    margin-left: 20px;
    padding-left: 10px;
}

.tab-content {
    padding: 10px 15px;
    background-color: #f6f6f6;
}

html, body {
    margin: 47px 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
    font-family: "Open Sans";
    /*font-weight: 300;*/
}

dgm-footer {
     position: relative;
}

.nav-pills > li > a:hover, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #0c9;
    font-weight: 600;
    color: #fff;
}

.nav-pills > li > a {
    display: block;
    padding: 10px 0;
    background-color: #9b9b9b;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.nav-pills > li {
    display: block;
    margin: 0;
    margin-right: 20px;
    width: 270px;
    float: left;
}

h1 {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #545454;
}

h1:after {
    content: '';
    width: 40px;
    position: absolute;
    bottom: -6px;
    left: 0;
    border-bottom: solid 5px #0c9;
}

.data-table table > tbody > tr > td {
    padding-bottom: 10px;
    border-top-color: #d8d8d8;
}

.navbar-default {
    background-color: #f6f6f6;
}

.tab-content {
    padding: 0px 0px;
}

.data-table {
    margin-bottom: 30px;
    padding: 30px 20px;
    background-color: #efefef;
    border-radius: 4px;
}

.panel-group .panel {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    /*padding-bottom: 5px;*/
}

.panel-default > .panel-heading {
    margin-top: 0px;
    padding: 0;
    background-color: #c0c0c0;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.panel-title {
    font-size: 12px;
    font-weight: 700;
}
p.small {
    font-size: 11px;
}

.panel-default > .panel-heading a {
    display: block;
    padding: 15px;
    position: relative;
}

/*********************************
    FONTS STYLES
*********************************/
h3                                          { font-size: 26px; line-height: 1.6em; font-weight: 300; color: #595959; }
.label                                      { font-size: 12px; font-weight: 700; color: #fff; text-transform: uppercase; border-radius: 0; }
.label[data-format="csv"],
.label[data-format="CSV"]                   { background-color: #ffd100; }
.label[data-format="kml"],
.label[data-format="KML"]                   { background-color: #474747; }
.label[data-format="json"],
.label[data-format="JSON"]                  { background-color: #33ffd1; }
.label[data-format="pdf"],
.label[data-format="PDF"]                   { background-color: #ff2200; }
.label[data-format="arcgis"],
.label[data-format="ARCGIS"]                { background-color: #d100FF; }
.label[data-format="xlsx"],
.label[data-format="xls"],
.label[data-format="excel"],
.label[data-format="vnd.ms-excel"],
.label[data-format="EXCEL"],
.label[data-format="VND.MS-EXCEL"],
.label[data-format="XLS"],
.label[data-format="XLSX"]                  { background-color: #00d100; }
.label[data-format="xml"],
.label[data-format="XML"]                   { background-color: #0000d1; }
.label[data-format="oracle"],
.label[data-format="ORACLE"]                { background-color: #55bada; }
.label[data-format="shp"],
.label[data-format="SHP"]                   { background-color: #bada55; }
.label[data-format="kmz"],
.label[data-format="KMZ"]                   { background-color: #55adab; }
.label[data-format="zip"],
.label[data-format="ZIP"]                   { background-color: #001dff; }
a.load-more                                 { text-transform: uppercase; font-size: 12px; font-weight: 300; color: #00d2a9; }
a.load-more:hover                           { font-weight: 600; }
#section-title                              { padding-top: 30px; padding-bottom: 30px; background-color: #eee; }
#section-title h1                           { margin-top: 0; margin-bottom: 20px; font-size: 24px; font-weight: 700; color: #595959; }
#section-title p                            { font-size: 14px; font-weight: 300; margin-bottom: 0; }
@media (max-width: 991px)                   { h1 { font-size: 20px; } p { font-size: 12px; } }

.search-form .btn-primary, .search-form .btn-primary:hover {
    width: 4%;
    background-color: transparent;
    color: #9b9b9b;
    font-size: 14px;
    padding: 12.5px 0;
}
